<div class="container">
<h1>“Bumble bee : Buy first and pay later”</h1>
<div>
  <p>
    When you have some text, how can you choose a typeface? Many people—professional designers included—go through an app’s font menu until we find one we like. But the aim of this module is to show that there are many considerations that can improve our type choices. By setting some useful constraints to aid our type selection, we can also develop a critical eye for analyzing type along the way
  </p>
</div>
<div>
  <button>Register Now</button>
</div>
</div>


