<div class="container">
  <h1 class="heading1">“Bumble bee : Buy first and pay later”</h1>
  <div>
    <p>
      When you have some text, how can you choose a typeface? Many people—professional designers included—go through an
      app’s font menu until we find one we like. But the aim of this module is to show that there are many
      considerations that can improve our type choices. By setting some useful constraints to aid our type selection, we
      can also develop a critical eye for analyzing type along the way
    </p>
  </div>
  <div>
    <button routerLink="/regi">Register Now</button>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div >
        <div class="card-body">
          <h1 class="column">+$ 500 M</h1>
          <p class="para">in assets under management</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <div >
        <div class="card-body">
          <h1 class="column">+30 M</h1>
          <p class="para">in monthly trading volume</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div >
        <div class="card-body">
          <h1 class="column">+8</h1>
          <p class="para">years in fintech</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- other one here -->
<div class="container1">
  <h2 class="main1">Here's how Bumble works.</h2>
  <div class="row">
      <div class="col-lg-4">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">Step 01</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                      </div>
                      <ol class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>any person above age 18 to make purchases online</span></li>
                          <li class="widget-49-meeting-item"><span>maximum entry budget up to 15,000LKR.</span></li>
                          <li class="widget-49-meeting-item"><span>loan can be paid basically in 3 interest free installments.</span></li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">The all-in-one shopping app</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <ol class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>bb is with you wherever and whenever you need it</span></li>
                          <li class="widget-49-meeting-item"><span>bb has got your back, keep up to date with your balance, upcoming payments</span></li>
                          
                      </ol>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">Featured Stores</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <ol class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>Lifestyle ; Get what you need, no hassle no stress.</span></li>
                          <li class="widget-49-meeting-item"><span>Electronics ; The best-sellers on everyone’s radar.</span></li>
                          <li class="widget-49-meeting-item"><span>Fashion ; Treat yourself to everything you’ve been eyeing up </span></li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
